@using wBlog.Models
@model List<wBlog.ViewModel.PostModel>
    <h2>View All Posts</h2>

    @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
    {
        <div class="col-lg-8">
            @foreach (var post in Model)
            {
                <div class="blog-post">
                    <h2 class="blog-post-title">@Html.DisplayFor(x => post.Title)</h2>
                    <p class="blog-post-meta">@Html.DisplayFor(x => post.DatePosted) <a href="#">Jacob</a>
                    </p>
                    <p>@Html.DisplayFor(x => post.Body)</p>
                </div>
                
                <div class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        @foreach (var tag in post.Tags)
                    {
                            <li>
                                @Html.ActionLink(
                            linkText: tag.Name,
                            actionName: "Search",
                            controllerName: "Blog",
                            routeValues: new { id = tag.Id },
                            htmlAttributes: null)
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }

    <div class="col-md-4">

        @{
            Html.RenderAction("Sidebar", "Blog");
        } 

    </div>
            